* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #13131A;
}


/* Navbar  */

nav {
    padding: 20px 40px;
    border-bottom: 2px solid #4b4a4a;
    background-color: #010103;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

#nav-name a {
    text-decoration: none;
    font-size: 2rem;
    color: #fff;
}

#nav-link {
    display: flex;
    gap: 20px;
}

#nav-link li {
    list-style-type: none;
}

#nav-link li a {
    text-decoration: none;
    font-size: 1.3rem;
    color: #fff;

    font-family: "Rajdhani", sans-serif;
    font-weight: 400;
}

#nav-side-item i {
    color: #fff;
    font-size: 2rem;
    margin: 0 0 0 20px;
}

/* header */
#header-declare {
    position: relative;
    margin-bottom: 50px;
}

#header-declare-image {
    background-image: url('./image/coffee-header.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 90vh;

    filter: brightness(30%);
}

#header-declare-text {
    filter: brightness(100%);
    position: absolute;
    top: 30%;
    right: 50%;
    bottom: 50%;
    left: 10%;
    color: #fff;
}

#header-declare-text h2{
    font-size: 3rem;
    margin-bottom: 10px;
    font-family: "Lora", serif;
    font-weight: 500;
}

#header-declare-text p{
    font-size: 1.6rem;
    font-family: "Rajdhani",sans-serif;
    font-weight: 100;
    margin-bottom: 20px;
}

#header-declare-text button{
    cursor: pointer;
    border: 2px solid transparent;
    border-radius: 3px;
    background-color: #D3AD7F;
    color: #fff;
    padding: 7px 30px;
    font-size: 1.3rem;
    font-weight: 100;
    font-family: 'Rajdhani';
    transition: .4s;
}

#header-declare-text button:hover{
    border: 2px solid #D3AD7F;
    background-color: transparent;
}