*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    padding: 10px 40px;
    border-bottom: 2px solid black;
    background-color: #010103;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

#nav-name a{
    text-decoration: none;
    font-size: 2rem;
    color: #fff;
}

#nav-link{
    display: flex;
    gap: 20px;
}

#nav-link li{
    list-style-type: none;
}

#nav-link li a{
    text-decoration: none;
    font-size: 1.3rem;
    color: #fff;
}