#contact-title h3 {
    text-align: center;
    color: #fff;
    font-family: "Rajdhani", sans-serif;
    font-weight: 700;
    font-size: 3rem;
    margin-bottom: 40px;
}

#contact-title h3 span {
    color: #D3AD7F;
}

#contact-parent {
    padding: 0 80px 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    align-content: center;
}

#contact-container h6 {
    color: #fff;
    font-size: 2rem;
    font-family: "Rajdhani", sans-serif;
    font-weight: 700;
    margin: 0 0 20px 0;
}

#contact-item-parent{
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.contact-item i {
    color: #fff;
    font-size: 1.5rem;
    padding: 0 10px 0 0;
}

.contact-item {
    width: 75%;
    border: 1px solid #4E4E4F;
    border-radius: 2px;
    padding: 15px;
}

.contact-item input {
    background-color: transparent;
    outline: 0;
    border: 0;
}

.contact-item input::placeholder{
    font-size: 1.2rem;
    font-family: "Rajdhani", sans-serif;
}