#review-title h3 {
    text-align: center;
    color: #fff;
    font-family: "Rajdhani", sans-serif;
    font-weight: 700;
    font-size: 3rem;
    margin-bottom: 40px;
}

#review-title h3 span {
    color: #D3AD7F;
}

/* Review */
#review-parent{
    padding: 50px 80px 0;
}

.review-item{
    border: 1px solid #4E4E4F;
    border-radius: 2px;
    /* text-align: center; */
    position: relative;
}

.review-item img{
    width: 80px;
    height1: 80px;
    border-radius: 50%;
    position: absolute;
    top: -30%;
    right: 55%;
    /* bottom: 100%; */
    left: 47%;
}

.review-item .review-person{
    color: #fff;
    margin: 50px 0 0 0;
    text-align: center;
}

.review-person h4{
    font-family: "Rajdhani", sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
}

.review-person p{
    font-family: "Rajdhani", sans-serif;
    font-size: 1.1rem;
}