#blog-title h3 {
    text-align: center;
    color: #fff;
    font-family: "Rajdhani", sans-serif;
    font-weight: 700;
    font-size: 3rem;
    margin-bottom: 40px;
}

#blog-title h3 span {
    color: #D3AD7F;
}

/* Blog */

#blog-parent {
    padding: 50px 80px;
}

.blog-child {
    border: 1px solid #4E4E4F;
}

.blog-child img {
    width: 100%;
}

.blog-contain {
    padding: 20px 10px;
}

.blog-name-date h6 {
    color: #fff;
    font-family: "Rajdhani", sans-serif;
    font-size: 1.3rem;
}